 /* color before the background image is uploaded */
body{
    background-color:#34ace0;
}

/* what is the role of display here?*/
.form, greetings{
    display: none;
}

/* font settings for the time */
h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}

/* font settings for the list elements */
li {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

/* size for the button */
button{
    font-size: 0.5rem;
}

input[type=text] {
    text-align: center;
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    font-size: 1.2rem;
    color: white;
    outline: none;
  }

/* font settings for the placeholders name and todos */
input::placeholder{
    text-align: center;
    border-color: white;
    color: white;
    font-family: 'Poppins', sans-serif;

}

/* align the toDoForm to the middle */
.toDoForm{
    text-align: center;
    color: white;
}

/* font settings for the greeting*/
.showing{
    display: block;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.backgroundImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;

}


